@{ 
    Layout = null;
}

<head>
    <title>Добавление пользователя</title>
</head>

<body>
    <div>
        <h3>Добавление</h3>
        <form method="post">
            <input type="hidden" value="@ViewBag.UserId" name="Id" />
            <table>
                <tr>
                    <td>Имя:</td>
                    <td><input type="text" name="Name" /></td>
                </tr>
                <tr>
                    <td>Пол:</td>
                    <td>
                        <select name="Sex">
                            <option value="male">male</option>
                            <option value="female>">female</option>
                            <option value="not determined">not determined</option>
                        </select>
                    </td>
                </tr>
                <tr><td><input type="submit" value="Отправить" /></td></tr>
            </table>
        </form>
    </div>
</body>