@model IEnumerable<SocialNetwork.Models.UserModel>
@{
    ViewData["Title"] = "Список пользователей";
}
<h3>Пользователи</h3>
<table class="table-condensed">
    <tr>
        <td>ID</td>
        <td>Имя</td>
        <td>Пол</td>
        <td></td>
    </tr>
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.Id</td>
            <td>@user.Name</td>
            <td>@user.Sex</td>
        </tr>
    }
</table>