@model SocialNetwork.Models.UserModel
@{
    ViewData["Title"] = "Пользователь";
}

<table>
    <tr>
        <td>Имя: @Model.Name</td>
    </tr>
    <tr>
        <td>Пол: @Model.Sex</td>
    </tr>
</table>
<a type="button" href="~/Home/Edit/@Model.Id">Редактировать</a>