@model IEnumerable<SocialNetwork.Models.UserModel>
@{
    ViewData["Title"] = "Список пользователей";
}
<h3>Пользователи:</h3>
<table class="table-condensed">
    @foreach (var user in Model)
    {
        <tr>
            <td><a asp-controller="Home" asp-action="UserProfile" asp-route-login="@user.Login">@user.Name</a> </td>
        </tr>
    }
</table>